<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="__static__/home/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="__static__/home/css/app.css"/>
		<style>
		#fir{
			float: left;
			font-size: 8px;
		}
		#sec{
			margin-top: 15px;
			margin-right: -50px;
			float: right;
		}
		#showp{
			width:100px;
			height:30px;
			line-height:18px;
			margin-top:5px;
			border-radius:30px;
			margin-right:10px;
			float:right
		}
		</style>
	</head>

	<body>
		
		<div class="mui-content">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">购物车</h1>
				<a class="mui-icon mui-pull-right" style="margin-top:-10px;" onclick="deleSeltedRecords()"><span class="mui-icon mui-icon-trash"></span></a>
			</header>
			<form action="{:url('Cart/shoppinglist')}" method='post'>			
			<div style="margin-top:50px">
				
				<ul class="mui-table-view mui-table-view-chevron" >
				{foreach name="cartlist" item="vo"}
					<li class="mui-table-view-cell mui-media" id="cart{$vo.cart_id}">
						<div id="fir">
							<input type="checkbox" style="margin-bottom:15px" name="chckBox" value="{$vo.cart_id}" onclick="allprice()" />
							<img src="__static__/home/{$vo.goods_img}" width="40px" height="40px" style="margin-top:10px;margin-left:5px">
						</div>
						<div class="mui-media-body" id="fir" style="margin-left:5px;">
								<span>{$vo.goods_name}</span>
							<p class='mui-ellipsis'>价格:<b style="color:red;">{$vo.shop_price}元</b></p>
							<p>小计:<b style="color:red;"><span id="sumone{$vo.cart_id}">{$vo.shop_price*$vo.num}</span>元</b></p>
						</div>
						<div class="mui-numbox" data-numbox-min='0' id="sec">
							<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
							<input class="mui-input-numbox" type="number" name="num" id="{$vo.cart_id}" value="{$vo.num}" data-id="{$vo.goods_id}" onchange="myFunction(id,value,{$vo.goods_id})" />
							<button class="mui-btn mui-btn-numbox-plus" type="button" id="add">+</button>
						</div>
					</li>
				{/foreach}
				</ul>
				
			</div>
			<div style="margin-top:20px">
			<b style="margin-left:5px;">合计：</b>
				<div class="mui-table-view mui-table-view-chevron" style="height:50px; margin-top:5px;">
				<div class="mui-btn mui-btn-primary" id="showp" >

				</div>
					<input type="hidden" name="all_price" id="all_price" value="" >
				
				</div>
				<button type="submit" class="mui-btn mui-btn-danger mui-btn-block" style="margin-top:10px">去结算</button>
			</div>
		</div>
		</form>

	{include file="public/nav"/}
	<div style="height: 100px"></div>
	</body>
	<script src="__static__/home/js/mui.min.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		var slider = mui("#slider");
				slider.slider({
					interval: 3000
				});
		function deleSeltedRecords(){  
        var chckBox = document.getElementsByName("chckBox");  
        var num = chckBox.length;  
        var ids = "";  
        for(var index =0 ; index<num ; index++){  
            if(chckBox[index].checked){  
                ids += chckBox[index].value + ";";                
            }  
        }
        if(ids!=""){
        
        mui.confirm('确定删除所选记录？', function(e) {
					if (e.index == 1) {
						mui.ajax({  
		                    type : "post",  
		                    url : "{:url('Cart/deleteCart')}", //要自行删除的action  
		                    data: 'ids='+ids,
		                    success : function(res) {
		                    if (res) {
		                    	mui.alert("删除成功");
		                        for (var i = ids.length - 1; i >= 0; i--) {
		                        	document.getElementById("cart"+ids[i]).remove();
		                        }
		                    }  
		                        
		                    },  
		                    error : function(res) {  
		                        alert("系统错误，删除失败");  
		                    }  
		                });  
					}else{
						 mui.alert("请选择要删除的记录");  
					}
				});
    	}
    	}


	    function myFunction(id,value,data){
	    	
		    	mui.ajax({
		    		type:'post',
		    		url:"{:url('home/Cart/sumOne')}",
		    		data:{
		    			'cart_id':id,
		    			'num':value,
		    			'goods_id':data,
		    		},
		    		success:function(res){
		    			var sumone=res*value;
		    			document.getElementById('sumone'+id).innerText=sumone;
		    			
		    			
		    		}
		    	})
	    }

	    function allprice(){
	    	var chckBox = document.getElementsByName("chckBox");  
        	var num = chckBox.length;  
        	var ids = "";  
        	for(var index =0 ; index<num ; index++){  
            if(chckBox[index].checked){  
                ids += chckBox[index].value + ";";                
            }  
        }
    			
				 	mui.ajax({  
		                    type : "post",  
		                    url : "{:url('Cart/sumAll')}",
		                    data: 'ids='+ids,
		                    success : function(res) {
		                    console.log(res);	 
		                      
		                    	document.getElementById('all_price').value=res;
		                    	document.getElementById('showp').innerText=res;
		                    },  
		                  
		                });  
					
			
    	
	    }
	</script>
</html>