 <!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="__PUBLIC__/app/css/mui.min.css">
		<!--App自定义的css-->
		<style>
			.mui-btn {
				font-size: 16px;
				margin: 1px;
				padding: 8px;
				border-radius: 0px
			}
			.ui-alert {
				text-align: center;
				padding:10px;
				font-size: 16px;
			}
			#showp{
			width:100px;
			height:30px;
			text-align: center;
			line-height:18px;
			border-radius:30px;
			margin-right:10px;
			float:right
		}
		#fir{
			float: left;
			font-size: 8px;
		}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">商品订单</h1>
		</header>
		<!-- <nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="/Phone/user/show_home">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="mui-icon mui-icon-list"></span>
				<span class="mui-tab-label">分类</span>
			</a>
			<a class="mui-tab-item mui-active" href="/Phone/user/show_shopping">
				<span class="mui-icon mui-icon-starhalf"></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item" href="/Phone/user/show_setting">
				<span class="mui-icon mui-icon-gear"></span>
				<span class="mui-tab-label">设置</span>
			</a>
		</nav> -->
		<!-- <include file="Public::nav"/> -->
		<form action="{:U('App/Cart/confirm')}" method="post">
		<div class="mui-content"><br/>
			<div>
				<button class="mui-btn mui-btn-block" type='button' style="margin-top:20px ;text-align:left"><b>配送方式</b></button>
				<select class="mui-btn mui-btn-block" name="address">
				<foreach name="result_address" item="add">
					<option>收货人：{$add.sname}联系手机：{$add.phone}收货地址：{$add.address}{$add.saddress}</option>
				</foreach>
				</select>
				<button class="mui-btn mui-btn-block" type='button' style="text-align:left"><b>支付方式</b></button>
				<select class="mui-btn mui-btn-block" style="height:40px;text-align:left" name="pay_type">
					<option value="支付宝">支付宝</option>
					<option value="建设银行">建设银行</option>
					<option value="交通银行">交通银行</option>
					<option value="工商银行">工商银行</option>
					<option value="中国银行">中国银行</option>
				</select>
				<button class="mui-btn mui-btn-block" type='button' style="text-align:left"><b>快递类型</b></button>
				<select class="mui-btn mui-btn-block" style="height:40px;text-align:left" name="shopping_type">
					<option value="圆通快递">圆通快递</option>
					<option value="申通快递">申通快递</option>
					<option value="快鸟速递">快鸟速递</option>
					<option value="EMS快递">EMS快递</option>
					<option value="韵达快递">韵达快递</option>
					<option value="天天快递">天天快递</option>
					<option value="全峰快递">全峰快递</option>
					<option value="国通快递">国通快递</option>
					<option value="德邦快递">德邦快递</option>
					<option value="顺丰快递">顺丰快递</option>
				</select><br/>
				<button class="mui-btn mui-btn-block" type='button' style="text-align:left"><b>商品列表</b></button>
				<div id='cityResult3' class="mui-btn mui-btn-block" style="text-align:left">
					<foreach name="result" item="vo" key="k">
								<div id="fir">
									<img src="__PUBLIC__/app/{$vo.goods_img}" width="30px" height="30px" style="margin-top:10px;">
								</div>
								<input type="hidden" name="gid_{$k}" value="{$vo.goods_id}">
								<input type="hidden" name="cid_{$k}" value="{$vo.cart_id}">
								<div class="mui-media-body" style="margin-left:5px;line-height:50px;padding-left:30px">
										<span>{$vo.goods_name}</span>
								</div>
					</foreach>
				</div>
			</div>
			<div><br/>
				<button id='showCityPicker3' class="mui-btn mui-btn-block" type='button' style="text-align:left"><b>订单备注</b></button>
					<input type="text" name="postscript" class="mui-btn mui-btn-block" style="text-align:left">
					<button id='showCityPicker3' class="mui-btn mui-btn-block" type='button' style="text-align:left"><b>订单统计</b></button>
				<div class="mui-table-view mui-table-view-chevron" style="height:40px; margin-top:5px;padding:5px;line-height:30px;font-size:14px"><b>商品金额</b>
				<div class="mui-btn mui-btn-primary" id="showp">
				<input type="hidden" name="goods_amount" value="{$all_price}">
					￥&nbsp;{$all_price}
				</div>
				</div>
				<div class="mui-table-view mui-table-view-chevron" style="height:40px; margin-top:5px;padding:5px;line-height:30px;font-size:14px"><b>运费</b>
				<div class="mui-btn mui-btn-success" id="showp">
				<input type="hidden" name="shipping_fee" value="10">
					￥&nbsp;10
				</div>
				</div>
				<div class="mui-table-view mui-table-view-chevron" style="height:40px; margin-top:5px;padding:5px;line-height:30px;font-size:14px"><b>商品数量</b>
				<div class="mui-btn mui-badge-royal" id="showp">
				<input type="hidden" name="goods_num" value="{$number}">
				{$number}
				</div>
				</div>
				<div>
				<button type="submit" class="mui-btn mui-btn-danger mui-btn-block" style="margin-top:10px">提交订单</button></div>
			</div>
		</div>
		</form>
		<script src="__PUBLIC__/app/js/mui.min.js"></script>
	</body>

</html>